.portfolio {
    max-height: 525px;
    padding: 100px 70px 125px 70px;
}

.portfolio__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #8B8B8B;
}

.portfolio__list {
    margin: 0;
    padding: 0px;
    list-style: none;
}

.portfolio__item {
    padding-top: 20px;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
    letter-spacing: -1.2px;
    border-bottom: 1px solid #424242;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
}

.portfolio__item:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

@media screen and (max-width:768px) {
    .portfolio {
        max-height: 480px;
        padding: 90px 50px;
    }

    .portfolio__title {
        color: #A0A0A0;
    }

    .portfolio__item {
        font-size: 28px;
        line-height: 1.79;
        border-color: #E6E6E6;
    }
}

@media screen and (max-width:550px) {
    .portfolio {
        max-height: 364px;
        padding: 70px 14px;
    }

    .portfolio__title {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.43;
    }

    .portfolio__item {
        font-size: 18px;
        line-height: 1.56;
    }
}