.page {
  box-sizing: border-box;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #FFFFFF;
  background-color: #202020;
}

.link {
  transition: opacity .5s ease;
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}