.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 172px;
  padding: 79px 70px 20px 70px;
}

.footer__description {
  max-width: 320px;
  min-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.21;
  color: #8B8B8B;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #424242;
}

.footer__year {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.21;
}

.footer__navigation {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.21;
}

@media screen and (max-width:768px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }

}

@media screen and (max-width:450px) {
  .footer {
    max-height: 253px;
    padding: 79px 10px 20px 10px;
  }

  .footer__description {
    max-width: 300px;
    min-height: 15px;
    margin-bottom: 21px;
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding-top: 20px;
    border-top: 1px solid #424242;
  }

  .footer__year {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
  }

  .footer__navigation {
    flex-direction: column;
    align-items: center;
    order: -1;
    gap: 12px;
    max-width: 111px;
    margin-bottom: 30px;
  }

  .footer__link {
    font-size: 12px;
  }
}